body,
html,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: rgb(0, 0, 0);
    color: white;
}

h1 {
    color: #fff;
    font-size: 35px;
    text-align: center;
}

.coloredtext {
    color: rgb(58, 69, 228);
}

.app-search {
    display: flex;
    justify-content: center;
    padding: 5% 0 5% 0;
}

.app {
    height: 100%;
    padding: 0 17% 10% 17%;
    align-items: center;
    background-image: url("../App/jammming-backgorund.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}

.app-lists {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1200px) {
    .app-lists {
        align-items: center;
        flex-direction: column;
    }
}
