.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.search-bar input {
    border-radius: 17px;
    border: 0;
    width: 350px;
    padding: 10px 0px;
}

.search-bar button {
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 17px;
    background-color: rgb(58, 69, 228);
    color: white;
    border: 0;
    font-weight: bold;
    width: 150px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: rgb(46, 55, 182);
}

.search-bar button:active {
    background-color: rgb(34, 41, 136);
}

@media only screen and (max-width: 768px) {
    .search-bar {
        width: 50%;
    }

    .search-bar input {
        width: 250px;
    }

    .search-bar button {
        width: 120px;
    }
}

@media only screen and (max-width: 480px) {
    .search-bar {
        margin-top: 15px;
        width: 100%;
    }

    .search-bar input {
        width: 100%;
    }

    .search-bar button {
        width: 150px;
        margin-top: 15px;
    }
}
